body{
  background: linear-gradient(to right, #2193B0, #6DD5ED);

}
.navbar{
  background: white;
  color: #003764;
  font-weight: bold;
  padding: 0.1rem 5rem;
  height: 3.5rem;
  /*height: auto;*/
}
.navbar-toggler-icon{

  background-image: url('../../img/menu.svg');
}
.navbar-brand{
    font-size: 1.25rem;

}
li.nav-item a{
  font-size: 0.9rem;
  color: #003764;
}
/*img.img-fluid.menu{
  margin-top: 0.8rem;
}*/
.salir{
font-size: 1.25rem;

}

/*******LOGIN*****/

.cardBody h4{
  color:#003764;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.5rem;

}
input.form-control.formUser{
  color:#003764;
  border: 2px solid;
  /*color: #003764;*/
  margin-bottom: 20px;
  border-style: solid;
  border-radius: 18px;
  padding: 5px 25px;
  /*background-image: url('/img/7119.jpg');*/
  background-size: 1.25rem;
  background-repeat: no-repeat;
  background-position-y: center;
}


input.form-control.formPass{
  color:#003764;
  border: 2px solid;
  margin-bottom: 20px;
  border-style: solid;
  border-radius: 18px;
  padding: 5px 25px;
  /*background-image: url(/img/img/locked-padlock.svg);*/
  background-size: 1.25rem;
  background-repeat: no-repeat;
  background-position-y: center;
}
.panelLogin{
  /*border:1px solid yellow;*/
  width: auto;
  max-width: 300px;
  height: auto;
  margin: 5rem auto;
  /*max-width: 300px;*/
  border-radius: -9rem;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}
/*.panelLogin{
    position: relative;
    padding: 20px 0;
    width: 100%;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
    overflow: hidden;
    text-align: center;
    z-index: 5;
}*/

/*bordes de input al hacer focus*/

.form-control:focus {
    /*color: #003764;*/
    border-color:#003764;
    background-color: #fff;
    /*border-color: #003764;*/
    outline: 0;
  /*  box-shadow: 0 0 0 0.1rem rgb(0, 55, 100);*/
    /*border:0;*/
    box-shadow: 0 0 0 0rem rgb(0, 55, 100);*/
}



.btnLogin{
  border: 1px solid #6dd5ed;
  background: linear-gradient(to right, #2193B0, #6DD5ED);
  color: white;
  font-weight: bold;
  width: 100%;
  margin-top: 5px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 20px;
}
.btnLogin:hover{
  border: 1px solid #2193B0;
}
.btnLogin:not(:disabled):not(.disabled):active{
  border: #2193B0;
}
.btnLogin:focus{
  box-shadow: 0 0 0 0.2rem #6DD5ED;
}
.btnLogin:not(:disabled):not(.disabled):active:focus{
  box-shadow: 0 0 0 0.2rem #6DD5ED;
}
/*******LOGIN*****/

/*******WELCOME*******/

.containerWelcome{

  /*border:5px solid blue;*/
  max-width: 680px;
    margin: auto;
    overflow: hidden;
    margin-top: 30px;
}
.containerWelcome h1,h3{
  color: white;
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
}

.cardEvents{
  padding: 0;
  position: relative;
  text-align: center;

}
.cardEvents li{
  color: #2193B0;
  font-weight: bold;
  font-size: 1.1rem;

}
.cardEvents li a{
  color: #2193B0;
  text-decoration: none;
}

/*******WELCOME*******/





/*******SEARCH PERSON*******/
.containerSearch{
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  overflow: hidden;
  /*padding-bottom: 50px;*/
}
h5.card-title{
  color: #003764;
  text-align: center;
  font-weight: bold;
}
div.row.rowSearchPerson{
  max-width: 1200px;
width: auto;
  margin-left: auto;
  margin-right: auto;
}
div.card-body.cardBodySearch{
padding:2rem 5rem;
}
form.formSearchPerson{
  max-width: 350px;
  margin: auto;
}
div.input-group.divSearchDni{
  padding-bottom: 1rem;
}

div.input-group.divSearchApellido{
  padding-bottom: 1rem;
}
input.form-control.searchDni{
  border: 1px solid #003764;
  border-radius: 20px;
  border-left: 0;
  padding-left: 0;

  font-size: 1.3rem;
}
input.form-control.searchApellido{
  border: 1px solid #003764;
  border-radius: 20px;
  border-left: 0;
  padding-left: 0;
  color: #003764;
  font-size: 1.3rem;
}
span.input-group-text.dni{
  background-color: white;
  border: 1px solid #003764;
  border-right: 0;
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;

}
span.input-group-text.apellido{
  background-color: white;
  border: 1px solid #003764;
  border-right: 0;
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
}
span.input-group-text img{
  width: 1.25rem;

}
.btnSearchPerson{
  background: linear-gradient(to right, #2193B0, #6DD5ED);
  border: 0;
  font-weight: bold;
  border-radius: 1rem;
}
div.card-body.cardBodyModificarPerson{
  text-align: center;
}

/*******SEARCH PERSON*******/




/*******FORM EDIT PERSON*****/
.containerPerson{

  /*border:5px solid blue;*/
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding-bottom: 100px;

}
/*div .cardFormPerson{
  max-width: 1000px;

}*/
div.card.cardFormPerson{
  max-width:1200px;
  width: auto;
  margin: auto;
  border-radius: 15px;
}
div.card-body.cardBodyPerson{
  padding: 30px 120px ;

}
.cardFormPerson h3{
  color:  #003764;
  font-size: 1.3rem;
}
div.formPerson,.form-group{

  margin-bottom: 0;
}
input.form-control.personDni{
  background-image: url('../../img/carnet-de-identidad.svg');
  background-size: 1.25rem;
  background-repeat: no-repeat;
  background-position-y: center;
  padding-left: 2rem;
  color: #003764;
  font-size: 1.3rem;
  border-top: 0 ;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}
input.form-control.personLastName{
  background-image: url('../../img/man-user.svg');
  background-size: 1.25rem;
  background-repeat: no-repeat;
  background-position-y: center;
  padding: 2rem 0 1.5rem 2rem;
  color: #003764;
  font-size: 1.3rem;
  border-top: 1px solid;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}
input.form-control.personName{
  background-image: url('../../img/man-user.svg');
  background-size: 1.25rem;
  background-repeat: no-repeat;
  background-position-y: center;
  padding: 2rem 0 1.5rem 2rem;

  color: #003764;
  font-size: 1.3rem;
  border-top: 1px solid;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}
input.form-control.personEmail{
  background-image: url('../../img/gmail.svg');
  background-size: 1.25rem;
  background-repeat: no-repeat;
  background-position-y: center;
  padding: 2rem 0 1.5rem 2rem;

  color: #003764;
  font-size: 1.3rem;
  border-top: 1px solid;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;

}
input.form-control.personPhone{
  background-image: url('../../img/responder-llamada.svg');
  background-size: 1.25rem;
  background-repeat: no-repeat;
  background-position-y: center;
  padding: 2rem 0 1.5rem 2rem;

  color: #003764;
  font-size: 1.3rem;
  border-top: 1px solid;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;


}
div.form-inline{
  color: #003764;
  font-weight: bold;
  font-size: 1.2rem;
  border-top: 1px solid;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  padding: 0.5rem 0 0.5rem 0;

}
select.form-control.personProvincia{
  border:0;



}
div.form-group.formGroupPerson,input.form-control{
  color: #003764;
  font-size: 1.3rem;
  border:0;
}
select.form-control.personTipo{
  border:0;


}
select.form-control.personNivel{
  border:0;



}
div.btnFormPerson  button.btn.btn-primary{
  background: linear-gradient(to right, #2193B0, #6DD5ED);
  font-weight: bold;
  border:none;
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height:3rem;
  margin-right: 1rem;
  border-radius: 1.5rem;

}
div.btnFormPerson{
  padding-top: 2rem;
}
/*******FORM EDIT PERSON*****/






/*/////////////////////////////////////////////////////////////////////////////////////////////////*/
/*media queries*/





@media screen and (max-width:1600px) {
  body{

    border:5px solid orange;
    font-size: 1.6rem;
  }
  /*******FORM EDIT PERSON*****/
  .containerPerson{

    /*border:5px solid blue;*/
    max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;

  }
  /*******FORM EDIT PERSON*****/
}
@media screen and (max-width:991px) {
  /*******LOGIN*****/
  body {
    border:5px solid pink;
    font-size: 1.6rem;
  }


  .navbar{
    min-height: 3rem;

    height: auto;
  }
  /*.navbar-collapse{
    height: 0;
  }*/
  li.nav-item{
    border-top: 1px solid;

  }
  a.nav-link{
    text-align: center;
  }


  /*******WELCOME*******/
.containerWelcome{
  margin-top: 1.25rem;
}
/*******WELCOME*******/


  /*img.img-fluid.menu{
margin: 0;
padding: 0;
border-top: 1px solid;

  }*/

  /*******FORM EDIT PERSON*****/
  .containerPerson{

    /*border:5px solid blue;*/
    max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;

  }
  div.card.cardFormPerson{}
  div.card-body.cardBodyPerson{
    padding: 30px 50px ;

  }
  /*******FORM EDIT PERSON*****/




}

@media screen and (max-width:767px){

  body {
    border:5px solid red;
    font-size: 1.4rem;
  }
  .navbar{

padding-left: 1.8rem;
padding-right: 1.8rem;

  }
  button.navbar-toggler{
      padding: 0;
    }

    /*******WELCOME*******/
  .containerWelcome{
    margin: auto;
  }
  .containerWelcome h3{
    padding-top: 1.25rem;
    margin-bottom: 0;
  }
  /*******WELCOME*******/
  /*******FORM EDIT PERSON*****/
  .containerPerson{

    /*border:5px solid blue;*/
    max-width: 700px;
    width: auto;
      margin-left: 2rem;
      margin-right: 2rem;
      overflow: hidden;

  }
  div.card-body.cardBodyPerson{
    padding: 30px;
  }
  /*******FORM EDIT PERSON*****/

}

/*mi cel :p*/
@media screen and (max-width:480px) {
  /*******LOGIN*****/
  body {
    border:5px solid blue;
    font-size: 0.5rem;
  }

  /*******LOGIN*****/
  .navbar{

padding-left: 1rem;
padding-right: 1rem;

  }
  button.navbar-toggler{
      padding: 0;
    }

    /*******WELCOME*******/
  .containerWelcome h3{
    padding-top: 1.25rem;
    margin-bottom: 0;
    font-size: 1.25rem;
  }
  .cardEvents a{
    font-size: 1rem;
  }
  /*******WELCOME*******/
  /*******FORM EDIT PERSON*****/
  .containerPerson{

    /*border:5px solid blue;*/
    max-width: 700px;
    width: auto;
    margin-left: 0.9rem;
    margin-right: 0.9rem;
    overflow: hidden;


  }
  div.card-body.cardBodyPerson{
    padding: 10px;
  }

  /*******FORM EDIT PERSON*****/
}

@media screen and (max-width:320px) {
  /*******LOGIN*****/
  body{
    border: 5px solid green;
    font-size: 0.5rem;

  }
  /*******LOGIN*****/
  .navbar{

padding-left: 0.8rem;
padding-right: 0.8rem;

  }

button.navbar-toggler{
    padding: 0;
  }

  /*******WELCOME*******/
.containerWelcome h3{
  font-size: 1rem;
  }
.cardEvents a{
  font-size: 1rem;
  }
  /*******WELCOME*******/
}
